WIDER_train/
WIDER_test/
WIDER_val/

.ipynb_checkpoints/

dataset_for_facedetection/

huyen.jpg
minh_gabor.jpg
socolakeomut.jpg
z6312730665742_b4cb42510d57e2d12700e40d617b6381.jpg
couple.jpg

WIDER_train.rar

x_train.npy
y_train.npy
x_val.npy
y_val.npy
